<!DOCTYPE html>
<html lang="pt-br" ng-app="scoreApp">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="app/css/app.css" />
</head>
<body ng-controller="ScoreController">
    <div class="container">
        <h3>Pontos</h3>

        <div>
            <div class="row score" ng-repeat="score in scores">
                <div class="col-md-2">
                    <img class="avatar" title="{{score.candidate.name}}" ng-src="{{score.candidate.avatar}}" />
                    <progressbar class="progress-striped active" value="score | scoreProgress">{{score | scoreProgress}}%</progressbar>
                </div>
                <div class="col-md-10">
                    <h4 class="candidate">{{score.candidate.name}}</h4>
                    <p class="text-justify">{{score.reason}}</p>

                    <time class="pull-right" am-time-ago="score.date"></time>
                    <div>
                        <img class="small-avatar" title="{{voter.name}}" ng-src="{{voter.avatar}}" ng-repeat="voter in score.voters" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="app/lib/moment-with-langs-2.5.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.6.2/angular-moment.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="app/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="app/lib/underscore-1.6-min.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/filters.js"></script>
    <script src="app/js/services/scoreData.js"></script>
    <script src="app/js/controllers/ScoreController.js"></script>
</body>
</html>
