<div class="container">
    <h1>Home</h1>
    <p>Página de entrada do app... colocar alguma coisa aqui... colocar botão login no lugar apropriado</p>
    <div class="center-block" style="width:23%" ng-hide="user.authenticated">
        <form ua-login>
            <a href="#" class="btn btn-block btn-social btn-lg btn-facebook" ua-oauth-link="facebook" ua-oauth-redirect-uri="http://awesomescoreapp.com/#/Votacao"><i class="fa fa-facebook"></i>Entre com o Facebook</a>
            <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
            <p ng-show="error">{{ error.message }}</p>
        </form>
    </div>
</div>
