<!DOCTYPE html>
<html lang="pt-br" ng-app="scoreApp">
<head>
    <meta charset="utf-8" />
    <title>Awesome Score App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" />
    <link href="app/css/bootstrap-social.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top ng-cloak" role="navigation" ng-cloak ng-controller="MenuController">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Score App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-show="user.authenticated">
                    <li><a href="/Votacao">Votação <span class="badge" ng-hide="scoresToVote == 0">{{scoresToVote}}</span></a></li>
                </ul>
                <ul class="nav pull-right" style="margin-right:10px;" ng-show="user.authenticated">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="nav-user-photo" ua-facebook-picture />
                            <span class="user-info">
                                {{user.first_name}}
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ua-logout><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <ng-view></ng-view>

    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="app/lib/angular-route.min.js"></script>
    <script src="app/lib/moment-with-langs-2.5.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.6.2/angular-moment.min.js"></script>
    <script src="//app.userapp.io/js/userapp.client.js"></script>
    <script src="//app.userapp.io/js/angularjs.userapp.js"></script>
    <script src="app/lib/ua-facebook-picture.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="app/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="app/lib/underscore-1.6-min.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/services/scoreCalculator.js"></script>
    <script src="app/js/filters.js"></script>
    <script src="app/js/services/scoreData.js"></script>
    <script src="app/js/controllers/MenuController.js"></script>
    <script src="app/js/controllers/VotingController.js"></script>
</body>
</html>
